body {
    box-sizing: border-box;
}
.container {
    display: grid;
    width: 960px;
    height: 960px;
    border: 4px solid black;
}

.gridBox {
    background-color: white;
    border: 2px solid black;
    margin: 2px;
}
