.container {
    display: grid;
    grid-template-columns: repeat(16, 60px);
    grid-auto-rows: 60px;
}

.gridBox {
    color: white;
    background-color: white;
}

.gridBox:hover {
    background-color: black;
}